{#  Requires a valid list of recipes set in variable recipe_list
    Requires the id of the error logging element as error_log_id
    If a variable button_content is set, it will be used as the content for the 'do recipe' button. If not set, it will
    default to 'Make'.
#}
<table class="recipe-list table table-hover gb-table">
    <tbody>
        {% for recipe in recipe_list %}
        {% with recipe_data = recipe.get_json() %}
        <tr title="{{ recipe_data.description }}">
            <td>
                <div class="icon-heading">
                    <h4>{{ recipe_data.name }}</h4>
                    <div class="gb-outcome">{{ recipe.describe_outcome()|safe }}</div>
                </div>
                <div class="gb-cost">
                    {% for cost_item in recipe_data.cost %}
                    {% with item = current_user.get('item.' + cost_item), amount=recipe_data.cost[cost_item] %}
                    {% include 'snippets/_cost_item.html' %}
                    {% endwith %}
                    {% endfor %}
                        <div class="gb-cost-item" title="Crafting Time">
                            {{ icon('special.time', class="gb-icon-sm") | safe }}
                            {{ recipe_data.base_time }} s
                        </div>
                    {% if recipe_data.slots != 1 %}
                        <div class="gb-cost-item" title="Slots Needed">
                            {{ recipe_data.slots }}
                            slots
                        </div>
                    {% endif %}
                </div>
            </td>
            <td><button class="btn btn-light" onclick="execute_recipe('{{ recipe_data.game_id }}', '{{ error_log_id }}', this)">{{ button_content or 'Make' }}</button></td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>