{# Expects the raw storage content as variable `content` #}

{% with category_table = format_player_storage(content) %}
{% for item_category in category_table %}
<div class="gb-storage-category" data-toggle="collapse" data-target="#it_cat-{{ item_category.get_minimized_id() }}">
    <div class="st-cat-indicator" id="col-ind-{{ item_category.get_minimized_id() }}">v</div>
    <div>{{ item_category.get_static_value('name') }}</div>
    <script>
    add_startup(function() {
        $('#it_cat-{{ item_category.get_minimized_id() }}').on("hide.bs.collapse", function() {
            $('#col-ind-{{ item_category.get_minimized_id() }}').addClass("st-cat-hidden");
        });
        $('#it_cat-{{ item_category.get_minimized_id() }}').on("show.bs.collapse", function() {
            $('#col-ind-{{ item_category.get_minimized_id() }}').removeClass("st-cat-hidden");
        });
    });
    </script>
</div>
<div class="gb-storage-category-content collapse show" id="it_cat-{{ item_category.get_minimized_id() }}">
    {% for item in category_table[item_category] %}
    <div class="gb-storage-item" title="{{ item.description() }}" data-content="{{ item.name() }}">
        {{ icon(item.get_id()) | safe }}
        <div class="gb-storage-amount" id="data.storage.content.{{ item.get_minimized_id() }}">{{ shorten_num(category_table[item_category][item]) }}</div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endwith %}