{% extends "stations/_station.html" %}

{% block station_header %}
<button type="button" class="close" id="storage-close-button" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
{{ super() }}
{% endblock %}

{% block station_body %}
<div class="description">
    <div class="descriptor"><img class="gb-icon" src="{{ url_for('get_icon', game_id='item.gold') }}"></div>
    <div class="description-value" id="data.storage.content.gold">{{ shorten_cents(game_data.storage.content.gold) }}</div>
</div>
<div class="description">
    <div class="descriptor"><img class="gb-icon" src="{{ url_for('get_icon', game_id='attr.storage_capacity') }}"></div>
    <div class="description-value" id="attr.storage.max_capacity">{{ shorten_num(current_user.get('attr.storage.max_capacity')) }}</div>
</div>
<input type="text" id="storage-filter" placeholder="Filter Storage">
<div class="gb-table-wrap storage-content" id="storage.content">
    {% with content=game_data.storage.content %}{% include "snippets/_storage_content.html" %}{% endwith %}
</div>
<script>
add_startup(function() {
    $('#storage-filter').on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $('#storage\\.content .gb-storage-item').filter(function() {
            console.log($(this).data('content').toLowerCase());
            $(this).toggle($(this).data('content').toLowerCase().indexOf(value) > -1);
        });
    });
    $('#storage-close-button').on('click', function(event) {
        $('#gb-sidebar').addClass('sb-toggle');
    });
});
</script>
{% endblock %}
