{% extends "stations/_station.html" %}

{% block station_body %}
<table class="gb-table">
    <tbody>
    <tr>
        <td><button class="gb-button btn btn-secondary" onclick="serve_next('sell', 'station.tavern-warning', this)">Sell</button></td>
        <td><button class="gb-button btn btn-light" onclick="serve_next('decline', 'station.tavern-warning', this)">Decline</button></td>
    </tr>
    </tbody>
</table>
<h3>Queue:</h3>
<div id="tavern.queue" class="tavern-queue gb-table-wrap">
    {% with queue = game_data.tavern.queue, patrons = game_data.tavern.patrons %}
    {% include 'snippets/_patron_queue.html' %}
    {% endwith %}
</div>
<div class="tavern-info">
    <div class="description">
        <div class="descriptor">Patrons in Tavern:</div>
        <div class="description-value">{{ game_data.tavern.patrons|length }}</div>
    </div>
</div>
<a class="btn btn-light" data-toggle="collapse" href="#tavern-prices" role="button" aria-expanded="false" aria-controls="tavern-prices" id="price-toggle">Show Prices</a>
<div class="tavern-prices collapse gb-table-wrap" id="tavern-prices">
    {% with prices = game_data.tavern.prices %}
    {% include 'snippets/_tavern_price_list.html' %}
    {% endwith %}
</div>
<script>
add_startup(function () {
    $('#tavern-prices').on('show.bs.collapse', function() {
        $('#price-toggle').html("Hide Prices");
    });
    $('#tavern-prices').on('hide.bs.collapse', function() {
        $('#price-toggle').html("Show Prices");
    });
});
</script>
{% endblock %}
