{#
 # Renders any event-effect into HTML to display.
 # Requires the effect's `effect_type` (e.g. 'delta_inventory') and `effect_data` (e.g. `{ water: 10 }`).
 #}
{% if effect_type is not defined %}{% set effect_type = data.effect_type %}{% endif %}
{% if effect_data is not defined %}{% set effect_data = data.effect_data %}{% endif %}
{% if effect_data.display is defined %}<div class="gb-info gb-info-highlight">{{ effect_data['display'] | safe }}</div>{% else %}

{% if effect_type == 'delta_inventory' %}
{% for item in effect_data.delta %}
{% with item_id = item, cost=effect_data.delta[item] %}{{ render_object('render.item_amount', data={'item_id': item_id, 'amount': cost}, class='gb-info gb-info-highlight') | safe}}{% endwith %}
{% endfor %}
{% endif %}
{% endif %}