{#
 # Renders an item (or item-category) amount within a recipe outcome view.
 # Requires an `item_id` and `amount` set; has an optional `class` parameter and `shorten_fun` parameter.
 #}
{% if item_id is not defined %}{% set item_id = data.item_id %}{% endif %}
{% if amount is not defined %}{% set amount = data.amount %}{% endif %}
{% if shorten_fun is not defined %}{% set shorten_fun=shorten_num %}{% endif %}
{% if data is defined and data.class is defined %}{% set class = data.class %}{% endif %}
{% with item = current_user.get(item_id) %}
<div class="{% if class is defined %}{{ class }} {% endif %}gb-hover" title="{% if item_id.startswith('it_cat') %}Any {{ item.get_static_value('name_individual_entity') }}{% else %}{{ item.name() }}{% endif %}"
     data-filter-match="{{ item.name() }} {% if category is defined%}{{ category.name() }}{% endif %}">
    {{ icon(item_id, class='gb-icon-sm gb-outcome-icon') | safe }}
    <span class="{% if span_class is defined %}{{ span_class }}{% else %}gb-outcome-amount storage-{{ css_friendly(item.get_id()) }}{% endif %}">{{ shorten_fun(amount) }}</span>
</div>
{% endwith %}