{#
 # Renders a single recipe.
 # Expects a `recipe` to be set.
 #}
{% if recipe is not defined %}{% set recipe = data %}{% endif %}
<div class="gb-recipe {{ recipe.get_static_value('station') }}-recipe {% if class is defined %}{{ class }}{% endif %}" data-filter-match="{{ recipe.name() }}">
    <div class="gb-recipe-view gb-icon-group">
        <button class="gb-button" onclick="execute_recipe('{{ recipe.get_id() }}', 'station.{{recipe.get_static_value('station') }}-warning', this)">{{ icon( recipe.get_id(), class='gb-icon gb-recipe-icon') | safe }}</button>
        <div class="gb-toggle-view" style="background: none; flex-basis: 100%" data-toggles="#{{ css_friendly(recipe.get_id()) }}-description">
            <div class="gb-recipe-details">
                <span class="gb-mini-heading">{{ recipe.name() }}</span>
                {{ render_object('render.recipe_outcome', data=recipe) | safe }}
            </div>
        </div>
    </div>
    <div id="{{ css_friendly(recipe.get_id()) }}-description" class="gb-recipe-fine-print collapse">
        {{ format_markdown(recipe.description()) | safe }}
    </div>
</div>