{#
 # Renders a list of recipes in HTML.
 # Requires the variable `data` to be set.
 #}
{% with recipe_list = data %}
<div class="gb-recipe-list">
{% if recipe_list|length %}
    <h6 class="gb-toggle-view" data-toggles="#{{ recipe_list[0].get_static_value('station') }}-recipe-container">Actions</h6>
    <div class="gb-toggle gb-foldout" id="{{ recipe_list[0].get_static_value('station') }}-recipe-container">
        {% if recipe_list|length > 1 %}
        <div class="gb-search gb-icon-group">
            {{ icon( 'special.search', class='gb-icon gb-recipe-icon') | safe }}
            <input type="text" class="gb-filter" placeholder="Filter Recipes" data-filters=".{{ css_friendly(recipe_list[0].get_static_value('station')) }}-recipe">
        </div>
        {% endif %}
        {% for recipe in recipe_list %}{{ render_object('render.recipe', data=recipe) | safe }}{% endfor %}
    </div>
{% else %}<h6>No Actions</h6>{% endif %}
</div>
{% endwith %}