{#
 # Renders a list of recipes in HTML.
 # Requires the variable `recipe_list` to be set.
 #}
{% if recipe_list is not defined %}{% endif %}
{% with recipe_list = data %}
<div class="gb-recipe-list">
    <h6 class="gb-toggle-view" data-toggles="#{{ recipe_list[0].get_static_value('station') }}-recipe-container">Recipes</h6>
    <div class="gb-toggle gb-foldout" id="{{ recipe_list[0].get_static_value('station') }}-recipe-container">
        {% if recipe_list|length > 1 %}
        <div class="gb-search gb-icon-group">
            {{ icon( 'special.search', class='gb-icon gb-recipe-icon') | safe }}
            <input type="text" class="gb-filter" placeholder="Filter Recipes" data-filters=".{{ recipe_list[0].get_static_value('station') }}-recipe">
        </div>
        {% endif %}
        {% for recipe in recipe_list %}{{ render_object('render.recipe', data=recipe) | safe }}{% endfor %}
    </div>
</div>
{% endwith %}