

/* HEADER */

.gold-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* STATION DATA */

.station-warning {
    color: #a63e42;
    letter-spacing: -0.08em;
    min-height: 1.5em;
    margin-bottom: 5px;
}


/* BUTTON */

button {
    padding: 0px;
}

input {
    background-color: #E7BF8B;
    width: inherit;
}

/* PRICE SELECTOR */

.price-selector {
    max-width: 102px;
}

.tavern-price {
    font-family: 'Press Start 2P';
}

/* SLOTS */

.slots {
    margin-top: 5px;
    margin-bottom: 5px;
}

.slot-ext {
    position: relative;
    width: 100%;
    background-color: #E7BF8B;
    margin-bottom: 5px;
    border-radius: 10px;
}

.slot-bar {
    height: 20px;
    background-color: #7DA0AC;
    width: 0%;
    border-radius: 10px;
}




.slot-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
    display: flex;
    flex-diretion: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



.description {
    display: flex;
    justify-content: space-between;
}

.descriptor {
}

.description-value {
}

/* GNOMEBREW TABLES */

.gb-table-wrap {
    overflow-y: auto;
    max-height: 250px;
}

.gb-table {
    margin-bottom: 0px;
}

.gb-table td, .gb-table th {
    border: none !important;
    vertical-align: middle !important;
}

.gb-table-desc {

}

.gb-table-value {

}

/* Recipe Rendering */

.gb-recipe-view {
    margin-top: 12px;
}

.gb-recipe-icon {
    float: left;
}

.gb-recipe-details {
}

.gb-recipe-fine-print {
    background: #FFEED9;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-top: 5px;
    border-radius: 12px;
    font-size: 0.85em;

}

.gb-recipe-outcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 5px;
}

.gb-recipe-list h6 {
    font-family: 'Press Start 2P';
    font-size: 0.8em;
}

.gb-mini-heading {
    font-family: 'Press Start 2P';
    font-size: 0.75em;
}

.gb-recipe-item {
    border-radius: 5px;
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    gap: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.gb-recipe-item strong {
    color: #822929;
}

.gb-recipe-item.gb-recipe-category {
    background: #8bbce7bd;
}

.gb-recipe-item.gb-recipe-category:hover {
    background: #ebf6ffbd;
}

.gb-recipe p {
    margin-bottom: 0px;
}

.gb-break {
    flex-basis: 100%;
}

.gb-outcome-icon {

}

.gb-outcome-amount {

}

.gb-recipe-cost {
    background: #E7BF8B;
}

.gb-recipe-cost:hover {
    background: #FFEED9;
}

.gb-recipe-effect {
    background: #e39f84;
}

.gb-recipe-effect:hover {
    background: #ffccc6;
}

.gb-upgrade-outcome {
    font-family: "DotGothic16";
    padding-left: 6px;
    padding-right: 6px;
    letter-spacing: -0.1em;
}


/* ICON-TITLE BOX */

.icon-heading {
    overflow: auto;
    margin-bottom: 1px;
}

.icon-heading img {
    float: left;
}

.icon-heading h4 {
    float: left;
    margin-bottom: 0em;
}


.station-grid {
    position: relative;
}

.station {
    background: #BE8251;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    z-index: -100;
}

/* STORAGE */

#station.storage-content {
    background: #E7BF8B;
}

.station-storage.grid-item {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    max-height: unset;
    width: inherit;
}

.storage-content {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    background: #E7BF8B;
    padding: 10px;
}

.gb-storage-category-content {
    display: flex;
    flex-direction: column;
    max-height: inherit;
}

.gb-storage-category {
    cursor: pointer;
    background: #5E484F;
    color: #E7BF8B;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-inline: 5px;
    margin-top: 5px;
    display: flex;
}

.gb-storage-item {
    display: flex;
    background: #E7BF8B;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gb-storage-item:hover {
    filter: brightness(85%);
}

.st-cat-hidden {
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
}

.st-cat-indicator {
    transition-duration: 0.4s;
    margin-right: 5px;
}


/* TAVERN */


/* MARKET */

.market-offers td {
    padding: 5px;
    text-align: right;
}

.market-offers th {
    padding: 5px;
    text-align: center;
}

.market-offers button {
    float: left;
    margin-right: 5px;
}

/* DIVINATION TABLE */

.gb-map {
    border: none;
    padding: 5px;
    overflow: auto;
    height: 210px;
    background: #e7bf8b;
    border-radius: 15px;
}

.gb-map tr {
    height: unset;
}

.gb-map td {
    height: unset;
}

.gb-map img {
    margin: 0px;
}

.gb-hover-info {
    position: absolute;
    transform: translate(-50%, 40%);
    top: 80%;
    left: 50%;
    padding: 2px 5px;
    display: none;
    background: #ffeed9ee;
    font-size: 1em;
    text-align: center;
    z-index: 50;
    flex-direction: column;
    align-items: center;
}

.gb-hover-info.gb-hover-sm {
}

.gb-hover-info.gb-hover {
    transform: translate(-50%, 50%);
}

.gb-hover-info.gb-hover-lg {
    transform: translate(-50%, 50%);
}

.gb-hover-info.gb-hover-xl {
    transform: translate(-50%, 50%);
}

.gb-location:hover .gb-hover-info {
    display: flex;
}

.location-name {
    color: black;
}