
/* STATION DATA */

.station-warning {
    color: red;
    min-height: 1.5em;
    margin-bottom: 5px;
}


/* BUTTON */

button {
    padding: 0px;
}

input {
    background-color: #E7BF8B;
    width: inherit;
}

/* PRICE SELECTOR */

.price-selector {
    max-width: 102px;
}

.tavern-price {
    font-family: 'Press Start 2P';
}

/* SLOTS */

.slots {
    margin-top: 5px;
    margin-bottom: 5px;
}

.slot-ext {
    position: relative;
    width: 100%;
    background-color: #E7BF8B;
    margin-bottom: 5px;
    border-radius: 10px;
}

.slot-bar {
    height: 15px;
    background-color: #7DA0AC;
    width: 0%;
    border-radius: 10px;
}




.slot-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
}



.description {
    display: flex;
    justify-content: space-between;
}

.descriptor {
}

.description-value {
}

/* GNOMEBREW TABLES */

.gb-table-wrap {
    overflow-y: auto;
    max-height: 250px;
}

.gb-table {
    margin-bottom: 0px;
}

.gb-table td, .gb-table th {
    border: none !important;
    vertical-align: middle !important;
}

.gb-table-desc {

}

.gb-table-value {

}

.gb-icon {
    max-width: 40px;
    margin: 5px;
    min-width: 32px;
    image-rendering: crisp-edges;
}

.gb-icon-sm {
    width: 16px;
}

/* COST ITEMS */

.gb-cost-item {
    margin-right: 5px;
    float: left;
    background: #E7BF8B;
    border-radius: 8px;
    padding-inline: 4px;
    margin-bottom: 2px;
}

.gb-cost-item img {
    vertical-align: baseline;
}

.gb-cost-item:hover {
    filter: brightness(85%);
}

.gb-outcome-descriptor {
    float: left;
    margin-right: 3px;
}

.gb-outcome-item {
    margin-right: 5px;
    float: left;
    background: #7DA0AC;
    border-radius: 8px;
    padding-inline: 4px;
    margin-bottom: 2px;
}

.gb-outcome-item img {
    padding-top: 3px;
}

.gb-outcome-item:hover {
    filter: brightness(115%);
}


/* ICON-TITLE BOX */

.icon-heading {
    overflow: auto;
    margin-bottom: 1px;
}

.icon-heading img {
    float: left;
}

.icon-heading h4 {
    float: left;
    margin-bottom: 0em;
}


.station {
    background: #BE8251;
    border-radius: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 5px;
}

/* STORAGE */

.station-storage-content {
    background: #E7BF8B;
}

.station-storage {
    display: flex;
    flex-direction: column;
    max-height: inherit;
}

.storage-content {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    background: #E7BF8B;
    padding: 10px;
}

.gb-storage-category-content {
    display: flex;
    flex-direction: column;
    max-height: inherit;
}

.gb-storage-category {
    cursor: pointer;
    background: #5E484F;
    color: #E7BF8B;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-inline: 5px;
    margin-top: 5px;
    display: flex;
}

.gb-storage-item {
    display: flex;
    background: #E7BF8B;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gb-storage-item:hover {
    filter: brightness(85%);
}

.st-cat-hidden {
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
}

.st-cat-indicator {
    transition-duration: 0.4s;
    margin-right: 5px;
}

.station-storage .gb-table-wrap {
    max-height: unset;
}

.station-tavern-queue {
    background: #E7BF8B;
}