body {
    font-family: "DotGothic16";
    background: #E7BF8B;
    color: #5E484F;
    scrollbar-color: #5E484F #E7BF8B;
    overflow-x: hidden;
}

h3 {
    font-family: 'Press Start 2P';
    font-size: 1.3em;
    color: #A63E42;
}

h4 {
    font-family: 'Press Start 2P';
    font-size: 0.9em;
}

/* IMAGES */

.gb-icon {
    max-width: 32px;
    margin: 5px;
    min-width: 32px;
    image-rendering: crisp-edges;
}

.gb-icon-sm {
    width: 16px;
    height: 16px;
    image-rendering: crisp-edges;
}

.gb-icon-md {
    width: 24px;
    height: 24px;
    image-rendering: crisp-edges;
}

.gb-icon-lg {
    width: 64px;
    height: 64px;
    image-rendering: crisp-edges;
}

.gb-icon-xl {
    width: 128px;
    height: 128px;
    image-rendering: crisp-edges;
}

.navbar .gb-brand {
    font-family: 'Press Start 2P';
    color: #A63E42;
}


.nongame-content {
    background: #C4A47A;
    padding: 15px;
    border-radius: 10px;
}

#station-grid {
    height: unset;
}

/* Formatting Stuff */

.gb-button:hover img {
    filter: saturate(160%);
    -webkit-filter: saturate(160%);
    cursor: pointer;
}

.gb-button:active img {
    filter: saturate(160%) drop-shadow(2px 2px 2px #5e484f);
    -webkit-filter: saturate(160%) drop-shadow(2px 2px 2px #5e484f);
}

.row-margin-05 {
    margin-top: 0.5em;
}

.gb-main {
    width: 100%;
}

.gb-icon-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.gb-icon-group input {
    flex-basis: 100%;
}

.gb-icon-group .gb-icon {
}

.gb-iconbox-wrapper {
    position: relative;
}

.gb-background-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.gb-button {
    border-width: 3.5px;
    border-color: #5e484f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    background: #aca7a9;
}

.gb-button:hover {
    background: #99958f;
    cursor: pointer;
}

.gb-button:active {
    background: #FFEED9;
}

.gb-top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 15px;
}

.gb-label {
    font-family: 'Press Start 2P';
    font-size: 0.9em;
}

/* GB TOGGLE VIEW */

.gb-toggle-view {
    transition: .3s transform ease-in-out;
    cursor: pointer;
}

.gb-minimized {
    display: none;
}

/* SIDEBAR */

.gb-wrapper {
    align-items: stretch;
    display: flex;
}

.gb-sidebar {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    max-height: 92vh;
    height: 92vh;
    z-index: 100;
    transition: all 0.3s;
    padding: 10px;
    background: #E7BF8B;
}

/* Toggle used to activate/deactivate the sidebar */
.gb-sidebar.sb-toggle {
    margin-left: -250px;
}

/* GB NAVBAR */
.gb-navbar {
    background: #E7BF8B;
}

.gb-link {
    cursor: pointer;
}

/* GB-MODAL */

.gb-modal {
    color: #5E484F;
}

.gb-modal h3 {
    color: #E7BF8B;
}

.gb-modal .modal-header {
    font-family: 'Press Start 2P';
}

.gb-modal .modal-content {
    background-color: #5E484F;
    color: #E7BF8B;
}

.gb-modal .modal-header {
    border-bottom: 1px solid #E7BF8B;
}

.gb-modal .modal-footer {
    border-top: 1px solid #E7BF8B;
}

.gb-modal-effect {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.gb-modal-effect-content {
    margin-top: 16px;
}

.gb-modal-highlight {
    color: #FF6B71;
}

.gb-modal-delta-inventory-wrap {
    display: flex;
    justify-content: center;
}

.gb-modal-delta-inventory-wrap td {
    padding: 8px;
}

.gb-modal-delta-inventory-wrap tr:hover {
    background: #8c7d7d;
}

.gb-delta-inventory {
    max-width: 300px;
}

.gb-delta-inventory-data {
    font-family: 'Press Start 2P';
    color: #E7BF8B;
}

/* TABS */

.gb-tab {
    display: none;
}

.gb-active-tab {
    display: unset;
}

/* MASONRY */
.grid-item {
    width: 300px;
}

@media screen and (max-width:767px) {
    .grid-item {
        width: 90vw;
    }
}

/* Collapse/Filter Feature */

.gb-collapsed {
    display: none;
}

.gb-filter {
    min-width: 0px;
}



/* Admin Interface */
.gb-multi-list {
    display: none;
}

.gb-multi-list.gb-multi-visible {
    display: flex;
}

#gb-admin-output-console {
    min-height: 12em;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    background: #5E484F;
    color: #E7BF8B;
}

.gb-admin-description-field {
    flex-direction: column;
}

.gb-admin-parameter {
    margin-right: 5px;
}

#gb-admin-description code {
    color: #A63E42;
}

.gb-admin-test-suite-panel {
    min-height: 15em;
}
