body {
    font-family: "DotGothic16";
    background: #E7BF8B;
    color: #5E484F;
    scrollbar-color: #5E484F #E7BF8B;
    overflow-x: hidden;
}

h3 {
    font-family: 'Press Start 2P';
    font-size: 1.3em;
    color: #A63E42;
}

h4 {
    font-family: 'Press Start 2P';
    font-size: 0.9em;
}

.navbar .gb-brand {
    font-family: 'Press Start 2P';
    color: #A63E42;
}


/* Formatting Stuff */

.row-margin-05 {
    margin-top: 0.5em;
}

.gb-main {
    width: 100%;
}

/* SIDEBAR */

.gb-wrapper {
    align-items: stretch;
    display: flex;
}

.gb-sidebar {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    max-height: 92vh;
    height: 92vh;
    z-index: 100;
    transition: all 0.3s;
    padding: 10px;
    background: #E7BF8B;
}

/* Toggle used to activate/deactivate the sidebar */
.gb-sidebar.sb-toggle {
    margin-left: -250px;
}

/* GB NAVBAR */
.gb-navbar {
    background: #E7BF8B;
}

.gb-link {
    cursor: pointer;
}

/* GB-MODAL */

.gb-modal {
    color: #5E484F;
}

.gb-modal h3 {
    color: #E7BF8B;
}

.gb-modal .modal-header {
    font-family: 'Press Start 2P';
}

.gb-modal .modal-content {
    background-color: #5E484F;
    color: #E7BF8B;
}

.gb-modal .modal-header {
    border-bottom: 1px solid #E7BF8B;
}

.gb-modal .modal-footer {
    border-top: 1px solid #E7BF8B;
}

.gb-modal-effect {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.gb-modal-effect-content {
    margin-top: 16px;
}

.gb-modal-highlight {
    color: #FF6B71;
}

.gb-modal-delta-inventory-wrap {
    display: flex;
    justify-content: center;
}

.gb-modal-delta-inventory-wrap td {
    padding: 8px;
}

.gb-modal-delta-inventory-wrap tr:hover {
    background: #8c7d7d;
}

.gb-delta-inventory {
    max-width: 300px;
}

.gb-delta-inventory-data {
    font-family: 'Press Start 2P';
    color: #E7BF8B;
}

/* MASONRY */
.grid-item {
    width: 300px;
}

@media screen and (max-width:767px) {
    .grid-item {
        width: 90vw;
    }
}
