{% extends 'base.html' %}

{% block scripts %}
{% with include_interactive = True %}
{{ super() }}
{% endwith %}
{% endblock %}

{% block navbar_content %}
<div class="mobile-whitespace"></div>
<div class="gb-navbar-item">
    <span class="storage-gold">{{ shorten_cents(current_user.get('storage.gold')) }}</span>
    {{ icon('item.gold') | safe }}
</div>
<div class="mobile-line-end"></div>
<div class="gb-navbar-item gb-navbar-item-clickable gb-toggle-view gb-toggle-view-active" data-toggles="#gb-sidebar-left" id="storage-icon" data-display="#storage-icon" data-inform=".gb-main">
    {{ icon('station.storage') | safe }}
</div>
{% with prompt_heads = get_prompt_head_dict(current_user) %}
{% for prompt_type in prompt_heads %}
<div class="gb-navbar-container">
    <div class="gb-navbar-item gb-navbar-item-clickable{% if prompt_heads[prompt_type] is none %} gb-navbar-hidden{% endif %}" id="{{ css_friendly(prompt_type) }}-prompt" onclick="request_prompt('{{ prompt_type }}', this)">
    {{ icon('special.prompt.' + prompt_type) | safe }}
    </div>
</div>
{% endfor %}
{% endwith %}
<div class="mobile-whitespace"></div>
<div class="gb-navbar-item gb-navbar-item-clickable gb-toggle-view" data-toggles=".quest-sidebar" id="quest-icon" data-display="#quest-icon" data-inform=".gb-main">
    {{ icon('station.quest') | safe }}
</div><div class="gb-navbar-line-end"></div>
{{ super() }}
{% endblock %}

{% block navbar_extras %}{% if 'feedback' in current_user.get('data.special.roles') %}<a class="" href="{{ url_for('feedback') }}">Feedback</a>{% endif %}{% endblock %}

{% block sidebar_outer %}
<div class="gb-sidebar storage-sidebar" id="gb-sidebar-left">
    {% block sidebar %}
    {{ current_user.get('html.station.storage', id_buffer=buffer) | safe }}
    {% endblock %}
</div>
<div class="quest-sidebar gb-toggle-hidden" id="gb-sidebar-right">
    {{ current_user.get('html.station.quest') | safe }}
</div>
{% endblock %}

{% block app_content %}
{% with user_stations = get_unlocked_station_list(current_user, id_buffer=buffer),
        slots= current_user.get('slots._all', id_buffer=buffer) %}
    {% for station in user_stations if not station.has_special_ui() %}
    {{ current_user.get('html.station.' + station.get_minimized_id(), slots=slots, id_buffer=id_buffer)|safe }}
    {% endfor %}
{% endwith %}
{% endblock %}