{% extends 'base.html' %}

{% block scripts %}
{% with include_interactive = True %}
{{ super() }}
{% endwith %}
{% endblock %}

{% block brand %}<a class="gb-brand" href="#" onclick="$('.gb-sidebar').toggleClass('sb-toggle')">Gnomebrew</a>{% endblock %}
{% block navbar_content %}

<div class="gb-navbar-item">
    {{ icon('item.gold') | safe }}
    <span class="storage-gold">{{ shorten_cents(current_user.get('storage.gold')) }}</span>
</div>
{{ super() }}
{% endblock %}

{% block navbar_extras %}{% endblock %}

{% block sidebar_outer %}
<div class="gb-sidebar" id="gb.sidebar">
    {% block sidebar %}
    {{ current_user.get('html.station.storage', id_buffer=buffer) | safe }}
    {% endblock %}
</div>
{% endblock %}

{% block app_content %}
<div id="gb_prompt_container">
    {% with prompt_list = current_user.get('data.special.prompts', id_buffer=buffer) %}
    {% if prompt_list %}
    {{ render_object('render.prompt', data=prompt_list[0]) | safe }}
    <script>
        add_startup(function () {
            show_event_modal();
        });
    </script>
    {% endif %}{% endwith %}
</div>
{% with user_stations = get_unlocked_station_list(current_user, id_buffer=buffer),
        slots= current_user.get('slots._all', id_buffer=buffer) %}
<div class="grid" id="station-grid" data-masonry='{"itemSelector": ".grid-item", "columnWidth": 300, "gutter": 5}'>
    {% for station in user_stations if not station.has_special_ui() %}
    {{ current_user.get('html.station.' + station.get_minimized_id(), slots=slots, id_buffer=buffer)|safe }}
    {% endfor %}
</div>
{% endwith %}
{% endblock %}