{% extends 'base.html' %}

{% block scripts %}
{% with include_interactive = True %}
{{ super() }}
{% endwith %}
{% endblock %}

{% block navbar_extras %}
<script>
add_startup(function() {
    $('#storage-toggle').on('click', function(event) {
        $('.gb-sidebar').toggleClass('sb-toggle');
    });
});
</script>
<li class="navbar-item">
    {{ icon('special.storage', class='nav-link gb-link gb-icon', href='#', id='storage-toggle') | safe }}
</li>
{% endblock %}

{% block sidebar_outer %}
<div class="gb-sidebar sb-toggle" id="gb.sidebar">
    {% block sidebar %}
    {{ current_user.get('html.station.storage', id_buffer=buffer) | safe }}
    {% endblock %}
</div>
{% endblock %}

{% block app_content %}
<div id="ingame_event">
    {% if current_user.get('ingame_event.queued', id_buffer=buffer) %}
    {{ current_user.get('html.ingame_event.next', id_buffer=buffer) | safe }}
    <script>
        add_startup(function () {
            show_event_modal();
        });
    </script>
    {% endif %}
</div>
{% with user_stations = get_unlocked_station_list(current_user, id_buffer=buffer),
        slots= current_user.get('slots._all', id_buffer=buffer) %}
<div class="grid" id="station-grid" data-masonry='{"itemSelector": ".grid-item", "columnWidth": 300, "gutter": 5}'>
    {% for station in user_stations if not station.has_special_ui() %}
    {{ current_user.get('html.station.' + station.get_minimized_id(), slots=slots, id_buffer=buffer)|safe }}
    {% endfor %}
</div>
{% endwith %}
{% endblock %}