{% set station_name = station.get_minimized_id() %}
<div class="station grid-item station-{{ station_name }}" id="{{ station.get_id() }}">
    <div class="station-header">
        {% block station_header %}
        <h3 id="{{ station.get_id() }}-title" title="{{ station.get_static_value('description') }}">{{ station.name() }}</h3>
        {% block station_subtitle %}{% endblock %}
        <div class="gb-info-container" id="{{ css_friendly(station.get_id()) }}-infos"></div>
        {% endblock %}
    </div>
    {% block slots %}
    {% if station_name in slots %}
    <div class="slots" id="slots.{{ station_name }}">
        {% for slot in slots[station_name] %}
        {{ render_object('render.slot', data=slot) | safe }}
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}

    {% block station_body %}{% endblock %}
    {% block station_recipes %}
        {% set recipe_list = current_user.get('recipes.' + station_name, id_buffer=buffer) %}
        {% if recipe_list %}
        <div id="recipes.{{ station.get_minimized_id() }}">
            {{ render_object('render.recipe_list', data=recipe_list) | safe }}
        </div>
        {% endif %}
    {% endblock %}
</div>