{% set station_name = station.get_minimized_id() %}
<div class="station grid-item station-{{ station_name }}" id="{{ station.get_id() }}">
    {% block station_header_outer %}<div class="gb-title-wrapper">
        <div class="station-header gb-toggle-view {% if current_user.get('selection._bool.station_' + station.get_minimized_id() + '_open', default=True, id_buffer=id_buffer) %}gb-toggle-view-active{% endif %}" id="{{ css_friendly(station.get_id()) }}-header" data-toggles="#{{ css_friendly(station.get_id()) }}-content" data-sync="selection._bool.station_{{ station.get_minimized_id() }}_open" data-display="#{{ css_friendly(station.get_id()) }}-header">
            {% block station_header %}
            {{ icon( station.get_id() ) | safe }}
            <h3 id="{{ station.get_id() }}-title" title="{{ station.get_static_value('description') }}">{{ station.name() }}</h3>
            {% endblock %}
        </div>
        {% block station_actions %}{% endblock %}
    </div>{% endblock %}
    {% block station_subtitle %}{% endblock %}
    <div class="gb-info-container" id="{{ css_friendly(station.get_id()) }}-infos">
        {% block infos %}{% if station_name in slots %}
        <div class="gb-info gb-info-default" title="Capacity">
            {{ icon('special.capacity', class='gb-icon-sm') | safe }}
            <span class="attr-{{ station.get_minimized_id() }}-slots">{{ shorten_num(current_user.get('attr.' + station.get_minimized_id() + '.slots', id_buffer=buffer)) }}</span>
        </div>
        {% endif %}{% endblock %}
    </div>
    {% block slots %}
    {% if station_name in slots %}
    <div class="slots" id="slots.{{ station_name }}">
        {% for slot in slots[station_name] %}{% if slot.state == 'occupied' %}
        {{ render_object('render.slot', data=slot) | safe }}
        {% endif %}{% endfor %}
    </div>
    {% endif %}
    {% endblock %}
    <div class="gb-toggle gb-foldout{% if not current_user.get('selection._bool.station_' + station.get_minimized_id() + '_open', default=True, id_buffer=id_buffer) %} gb-toggle-hidden{% endif %}" id="{{ css_friendly(station.get_id()) }}-content">
        {% block station_body %}{% endblock %}
        {% block station_recipes %}
            {% set recipe_list = current_user.get('recipes.' + station_name, id_buffer=buffer) %}
            {% if recipe_list %}
            <div id="recipes.{{ station.get_minimized_id() }}">
                {{ render_object('render.recipe_list', data=recipe_list) | safe }}
            </div>
            {% endif %}
        {% endblock %}
    </div>
</div>