{% extends "stations/_station.html" %}

{% block station_body %}
{% with offers = current_user.get('data.market.inventory', id_buffer=buffer) %}
<table class="market-offers table gb-table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" title="Stock">{{ icon('special.stock') | safe }}</th>
            <th scope="col" title="Cost">{{ icon('special.cost') | safe }}</th>
            <th scope="col">Buy</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        {% with item = current_user.get('item.' + offer).get_json() %}
        <tr>
            <td>{{ icon('item.' + offer) | safe }}</td>
            <td><span id="data.market.inventory.{{ offer }}.stock">{{ shorten_num(offers[offer].stock) }}</span></td>
            <td><span id="data.market.inventory.{{ offer }}.price">{{ shorten_cents(offers[offer].price) }}</span></td>
            <td>
                <button class="gb-button btn btn-light" onclick="market_buy('item.{{ offer }}', 'station.market-warning', this, false)">1</button>
                <button class="gb-button btn btn-light" onclick="market_buy('item.{{ offer }}', 'station.market-warning', this, true)">all</button>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
<div class="description">
    <div class="descriptor">New Inventory in:</div>
    <div class="description-value countdown" id='data.market.due' data-due="{{ current_user.get('data.market.due', id_buffer=buffer).strftime('%d %b %Y %H:%M:%S') + ' GMT' }}"></div>
</div>
{% endwith %}
{% endblock %}
