{% extends "stations/_station.html" %}

{% block station_body %}
{% with offers = game_data.market.inventory %}
<table class="market-offers table gb-table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" title="Stock"><img class="gb-icon" src="{{ url_for('get_icon', game_id='special.stock') }}"></th>
            <th scope="col" title="Cost"><img class="gb-icon" src="{{ url_for('get_icon', game_id='special.cost') }}"></th>
            <th scope="col">Buy</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        {% with item = current_user.get('item.' + offer).get_json() %}
        <tr>
            <td><img title="{{ item.name }}" class="gb-icon" src="{{ url_for('get_icon', game_id=item.game_id) }}"></td>
            <td><span id="data.market.inventory.{{ offer }}.stock">{{ shorten_num(offers[offer].stock) }}</span></td>
            <td><span id="data.market.inventory.{{ offer }}.price">{{ shorten_cents(offers[offer].price) }}</span></td>
            <td>
                <button class="gb-button btn btn-light" onclick="market_buy('item.{{ offer }}', 'station.market-warning', this, false)">1</button>
                <button class="gb-button btn btn-light" onclick="market_buy('item.{{ offer }}', 'station.market-warning', this, true)">all</button>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
<div class="description">
    <div class="descriptor">New Inventory in:</div>
    <div class="description-value countdown" id='data.market.due' data-due="{{ game_data.market.due.strftime('%d %b %Y %H:%M:%S') + ' GMT' }}"></div>
</div>
{% endwith %}
{% endblock %}
