{% extends "stations/_station.html" %}

{% block pre_header %}
    <div class="gb-toggle-view{% if current_user.get('selection._bool.station_quest_open', default=True) %} gb-toggle-view-active{% endif %}" data-toggles=".quest-sidebar" id="quest-close-button" data-display="#quest-icon" data-inform=".gb-main" data-sync="selection._bool.quest_expanded">
        {{ icon('special.cancel') | safe }}
    </div>
{% endblock %}


{% block station_body %}
{% with active_quests = current_user.get('quest._active'), available_quests = current_user.get('data.station.quest.available') %}
<div class="quest-view-navigation">

</div>
<div class="quest-view-content">
    <div class="gb-icon-group gb-quest-headline gb-toggle-view" data-toggles=".active-quests">
        {{ icon('special.active_quests') | safe }}
        Active Quests
    </div>
    <div class="quest-list active-quests gb-foldout" id="quests-active">
        {% for quest_id in active_quests %}{{ render_object('render.active_quest', data=active_quests[quest_id]) | safe }}{% endfor %}
    </div>
    <div class="gb-icon-group gb-quest-headline gb-toggle-view" data-toggles=".available-quests">
        {{ icon('special.available_quests') | safe }}
        Available Quests
    </div>
    <div class="quest-list available-quests gb-foldout" id="quests-available">
        {% for quest_id in available_quests %}{{ render_object('render.available_quest', data=available_quests[quest_id]) | safe }}{% endfor %}
    </div>
</div>
{% endwith %}
{% endblock %}
