{% extends "stations/_station.html" %}

{% block station_header_outer %}
<div class="station grid-item station-quest" id="{{ station.get_id() }}">
    <div class="gb-title-wrapper">
        <div class="gb-toggle-view gb-toggle-view-active" data-toggles=".quest-sidebar" id="quest-close-button" data-display="#quest-icon" data-inform=".gb-main">
            {{ icon('special.cancel') | safe }}
        </div>
        <div class="station-header gb-toggle-view" data-toggles="">
            {{ icon( station.get_id() ) | safe }}
            <h3 id="{{ station.get_id() }}-title" title="{{ station.get_static_value('description') }}">Quest</h3>
            <div class="gb-info-container" id="{{ css_friendly(station.get_id()) }}-infos"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block station_body %}Body{% endblock %}
