{% extends "stations/_station.html" %}

{% block station_header %}
<button type="button" class="close" id="storage-close-button" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
{{ super() }}
{% endblock %}

{% block station_body %}
<div class="gb-icon-group">
    {{ icon('item.gold') | safe }}
    <span class="data-storage-content-gold gold-counter">{{ shorten_cents(current_user.get('data.storage.content.gold', id_buffer=buffer)) }}</span>
</div>
<div class="gb-icon-group">
    {{ icon('attr.storage.max_capacity') | safe }}
    <span class="attr-storage-max_capacity">{{ shorten_num(current_user.get('attr.storage.max_capacity', id_buffer=buffer)) }}}</span>
</div>
<input type="text" id="storage-filter" class="gb-filter" placeholder="Filter Storage" data-filters=".gb-storage-item">
<div class="gb-table-wrap storage-content" id="storage.content">
    {% with content= current_user.get('data.storage.content', id_buffer=buffer) %}{% include "snippets/_storage_content.html" %}{% endwith %}
</div>
{% endblock %}
