{% extends "stations/_station.html" %}

{% block station_actions %}<div class="gb-toggle-view gb-toggle-view-active" data-toggles="#gb-sidebar-left" id="storage-close-button" aria-label="Close" data-display="#storage-icon" data-inform=".gb-main" data-sync="selection._bool.storage_expanded">
    {{ icon('special.cancel') | safe }}
</div>{% endblock %}

{% block infos %}
<div class="gb-info gb-info-default" title="Storage Capacity">
    {{ icon('attr.station.storage.max_capacity', class='gb-icon-sm') | safe }}
    {% with max_cap = current_user.get('attr.station.storage.max_capacity') %}<span class="attr-station-storage-max_capacity" data-value="{{ max_cap }}">{{ shorten_num(max_cap) }}</span>{% endwith %}
</div>
{% endblock %}

{% block station_body %}
{% with category_data = get_available_category_data(current_user, storage_ui=True), player_inventory = current_user.get('storage._content') %}
<div class="gb-storage-categories">
{% for data_object in category_data %}
    {% with category = data_object.category %}
    <button class="storage-category-button gb-toggle-button gb-toggle-view {% if data_object.visible %}gb-toggle-view-active{% endif %}"
            data-toggles=".{{ css_friendly(category.get_id()) }}" id="{{ css_friendly(category.get_id()) }}-toggle" data-display="#{{ css_friendly(category.get_id()) }}-toggle" data-sync="selection._bool.cat_{{ category.get_minimized_id() }}_visible">
        {{ icon( category.get_id(), class='gb-icon-sm') | safe }}
    </button>
    {% endwith %}
{% endfor %}
</div>
<input type="text" id="storage-filter" class="gb-filter" placeholder="Filter Storage" data-filters=".gb-storage-item-view">
<div class="gb-storage-category-view">{% for data_object in category_data %}{% with category_selection_id = current_user.get('data.station.storage.it_cat_selections.' + data_object.category.get_minimized_id(), default='_unset') %}{{ render_object('render.storage_category', data=data_object, player_inventory=player_inventory, category_selection_id=category_selection_id) | safe }}{% endwith %}{% endfor %}</div>
{% endwith %}
<div class="gb-storage-detail-view"></div>
{% endblock %}
