{% extends "stations/_station.html" %}

{% block station_header %}
<button type="button" class="close" id="storage-close-button" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
{{ super() }}
{% endblock %}

{% block station_body %}
<div class="description">
    <div class="descriptor">{{ icon('item.gold') | safe }}</div>
    <div class="description-value {{ css_friendly( 'data.storage.content.gold' ) }}">{{ shorten_cents(current_user.get('data.storage.content.gold', id_buffer=buffer)) }}</div>
</div>
<div class="description">
    <div class="descriptor">{{ icon('attr.storage.max_capacity') | safe }}</div>
    <div class="description-value {{ css_friendly('attr.storage.max_capacity') }}">{{ shorten_num(current_user.get('attr.storage.max_capacity', id_buffer=buffer)) }}</div>
</div>
<input type="text" id="storage-filter" class="gb-filter" placeholder="Filter Storage" data-filters=".gb-storage-item">
<div class="gb-table-wrap storage-content" id="storage.content">
    {% with content= current_user.get('data.storage.content', id_buffer=buffer) %}{% include "snippets/_storage_content.html" %}{% endwith %}
</div>
{% endblock %}
