{% extends "stations/_station.html" %}

{% block station_subtitle %}
<h5 id="data.tavern.name">{% if game_data.tavern.name %}{{ game_data.tavern.name }}{% else %}your tavern{% endif %}</h5>
{% endblock %}

{% block station_body %}

<div class="gb-top-buttons">
    <button class="gb-button" data-target="gb-tavern-patrons">Patrons</button>
    <button class="gb-button" data-target="gb-tavern-prices">{{ icon('special.cost') | safe }}</button>
</div>
<div class="gb-tab-pane">
    <div class="gb-tab gb-active-tab" id="gb-tavern-patrons">
        {% with patrons = [] %}
        {% include 'snippets/_patron_list.html' %}
        {% endwith %}
    </div>
    <div class="gb-tab" id="gb-tavern-prices">
        {% with prices = game_data.tavern.prices %}
        {% include 'snippets/_tavern_price_list.html' %}
        {% endwith %}
    </div>
</div>
<div class="tavern-prices collapse gb-table-wrap" id="tavern-prices">

</div>
<script>
add_startup(function () {
    $('#tavern-prices').on('show.bs.collapse', function() {
        $('#price-toggle').html("Hide Prices");
    });
    $('#tavern-prices').on('hide.bs.collapse', function() {
        $('#price-toggle').html("Show Prices");
    });
    $('#tavern-prices').on('shown.bs.collapse', function() {
        rescale_ui();
    });
    $('#tavern-prices').on('hidden.bs.collapse', function() {
        rescale_ui();
    });
});
</script>
{% endblock %}
