{#
This snippet renders the patron queue.
Expects two set variables:

* `queue` with the data of the user's order queue and
* `patrons` with the data of the user's patrons.
#}
<table class="table gb-table table-hover table-sm station-tavern-queue">
    <tbody>
    {% if not queue %}
    <tr class="table-light">
        <h4>Queue is empty.</h4>
    </tr>
    {% else %}
    {% for order in queue %}
    {% with patron = patrons[order.id] %}
    <tr {% if loop.first %}class="table-light"{% endif %}>
        <td>
            <h4>{{ patron.name }}</h4>
            <div class="gb-cost">
                {% for order_item in order.order %}
                {% with item = current_user.get('item.' + order_item.item), amount=order_item.amount %}
                {% include 'snippets/_cost_item.html' %}
                {% endwith %}
                {% endfor %}
            </div>
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% endif %}
    </tbody>
</table>